---
---
@import "minima";

a {
  color: #2373db;
}

.aside {
  border: 1px solid #EEEEEE;
  padding: 1em;
  box-shadow: 8px 8px 10px #CCC;
  margin-bottom: 1em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper {
  max-width: -webkit-calc(1000px - (30px * 2));
  max-width: -moz-calc(1000px - (30px * 2));
  max-width: -ms-calc(1000px - (30px * 2));
  max-width: calc(1000px - (30px * 2));
}

/* Fix code snippets with line numbers */
.rouge-table {
  margin-bottom: 0;
  border: none;

  td {
    border: none;
    padding: 0;
    float: left;
  }

  pre {
    border: none;
    margin-bottom: 0;
  }

  .gutter, .rouge-gutter {
    padding: 0;

    .lineno{
      float: left;
      background-color:#3f3f3f;
      color: white;

    }

  }
}

@media print {
  .pager {
    display: none;
  }
}